* {
    font-family: Clarkson,Helvetica,sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    background-color: rgb(217, 234, 201);
}

html, body {
    min-height: 100vh;
    padding: 1rem;
}

body {
    display: grid;
    grid-template-areas:
        "header"
        "main"
        "footer";
    grid-template-rows: auto 1fr auto;
}

header {
    grid-area: header;
}

/* I'm not going to lie there's so much bs going on in main. some things i don't even know
  whether or not they're just dead weight bc i was trying different things and not deleting
  other stuff. idk. if you're confused ask me and i can probably try to explain what's happening */

main {
    grid-area: main;

    display: grid;

   grid-template-columns: 1fr 1fr;
   grid-template-rows: 25vh repeat(3, minmax(400px, auto));

    /* the orientation is like this:   ________________
                                      |______top______|
                                      | port1| maps1  |
                                        etc etc etc etc
    */
    grid-template-areas:
        "top top"
        "port1 maps1"
        "port2 maps2"
        "port3 maps3";

    padding: 10px;
    gap: 20px;
}

#top {
    grid-area: top;
    background-color: rgb(255, 255, 255);

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    gap: 10px; 
}

/* port1-3 and maps1-3 are each grid sections.
  the content (i.e. text and literal maps) are not 
  directly loading into these sections. see below. */
#port1 {
    display: flex;  
    grid-area: port1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#maps1 {
    display: flex;  
    grid-area: maps1;
    justify-content: center;
    align-items: center;
} 

#port2 {
    display: flex;  
    grid-area: port2;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#maps2 {
    display: flex;  
    grid-area: maps2;
    justify-content: center;
    align-items: center;
}

#port3 {
    display: flex;  
    grid-area: port3;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#maps3 {
    display: flex;  
    grid-area: maps3;
    justify-content: center;
    align-items: center;
}


/* these are mini sections inside of each maps section, 
so that the literal map doesn't expand to the entire grid area */
/* this mini-sections are the IDs where the literal maps are loading into */
#map1, #map2, #map3 {
    width: 60%;
    height: 350px;
}

/* mini sections inside of each port section, 
so that the text doesn't expand to the entire grid area */
/* these are the IDs that the testimonials are directly added to */
#portfolio1, #portfolio2, #portfolio3 {
    background-color: rgb(244, 255, 234);
    width: 60%;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 20px;
    line-height: 1.6; 
}

/* tbh idek if this is really relevant anymore... i had a function
doing some stuff and then i changed the function idfk */
.testimonyChunk {
    margin-bottom: 30px; /* put spaces between the testimonials */
    text-align: center;
    justify-content: center; /* boi ts doesn't work... i thought this would vertical center but no. idfk */
    align-items: center;
} 


footer {
    grid-area: footer;
}


/* button 17 and 48 styling below */
.button-17 {
  align-items: center;
  appearance: none;
  background-color: rgb(255, 255, 255);
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #3c4043;
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-family: "Google Sans",Roboto,Arial,sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 48px;
  justify-content: center;
  letter-spacing: .25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 2px 24px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform,opacity;
  z-index: 0;
}

.button-17:hover {
  background: #6e8964;
  color: #ffffff;
}

.button-17:active {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
  outline: none;
}

.button-17:focus {
  outline: none;
  border: 2px solid #4285f4;
}

.button-17:not(:disabled) {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.button-17:not(:disabled):hover {
  box-shadow: rgba(60, 64, 67, .3) 0 2px 3px 0, rgba(60, 64, 67, .15) 0 6px 10px 4px;
}

.button-17:not(:disabled):focus {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.button-17:not(:disabled):active {
  box-shadow: rgba(60, 64, 67, .3) 0 4px 4px 0, rgba(60, 64, 67, .15) 0 8px 12px 6px;
}

.button-17:disabled {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.button-48 {
  appearance: none;
  background-color: #ffe6e6;
  border-width: 0;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: Clarkson,Helvetica,sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 1em;
  margin: 0;
  opacity: 1;
  outline: 0;
  padding: 1.5em 2.2em;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-rendering: geometricprecision;
  text-transform: uppercase;
  transition: opacity 300ms cubic-bezier(.694, 0, 0.335, 1),background-color 100ms cubic-bezier(.694, 0, 0.335, 1),color 100ms cubic-bezier(.694, 0, 0.335, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

.button-48:before {
  animation: opacityFallbackOut .5s step-end forwards;
  backface-visibility: hidden;
  background-color: #bf8b8b;
  clip-path: polygon(-1% 0, 0 0, -25% 100%, -1% 100%);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: translateZ(0);
  transition: clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1), -webkit-clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1);
  width: 100%;
}

.button-48:hover:before {
  animation: opacityFallbackIn 0s step-start forwards;
  clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
}

.button-48:after {
  background-color: #bf8b8b;
}

.button-48 span {
  z-index: 1;
  position: relative;
}
